Source: xml-light
Section: libdevel
Priority: optional
Maintainer: Sylvain Le Gall <gildor@debian.org>
Build-Depends: debhelper (>> 4.0.0), ocaml-nox (>= 3.09.2), dpatch
Standards-Version: 3.7.2

Package: libxml-light-ocaml-dev
Architecture: any
Depends: ocaml-nox-${F:OCamlABI}
Description: mininal XML parser and printer for OCaml
 This is a XML parser and printer, designed to help parsing basic XML document
 into OCaml data structures and printing it back to a XML document.
 .
 It also supports DTD.
 .
 You can find more information about xml-light at
 http://tech.motion-twin.com/xmllight.html
