#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make
PACKAGE = xml-light

OCAML_LIBDIR=`ocamlc -where`
VERSION=$(shell dpkg-parsechangelog | \
	awk "/Version: .*/ { gsub(\"Version: \",\"\"); gsub(\"-.*\",\"\"); print; }")

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	$(MAKE) all
	if [ -x /usr/bin/ocamlopt ] || [ -w /usr/bin/ocamlopt.opt ]; then \
	  $(MAKE) opt; \
	fi
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	$(RM) build-stamp
	$(RM) -r doc
	$(RM) xml-light.a
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	
	# Library
	mkdir -p $(CURDIR)/debian/libxml-light-ocaml-dev/$(OCAML_LIBDIR)/xml-light
	$(MAKE) install INSTALLDIR=$(CURDIR)/debian/libxml-light-ocaml-dev/$(OCAML_LIBDIR)/xml-light
	if [ -x /usr/bin/ocamlopt ]; then \
	  $(MAKE) installopt INSTALLDIR=$(CURDIR)/debian/libxml-light-ocaml-dev/$(OCAML_LIBDIR)/xml-light; \
	fi
	
	# Documentation
	$(MAKE) doc
	mkdir -p $(CURDIR)/debian/libxml-light-ocaml-dev/usr/share/doc/libxml-light-ocaml-dev/html/
	cp doc/* $(CURDIR)/debian/libxml-light-ocaml-dev/usr/share/doc/libxml-light-ocaml-dev/html/

	# META
	mkdir -p $(CURDIR)/debian/libxml-light-ocaml-dev/$(OCAML_LIBDIR)/METAS
	sed -e "s/@VERSION@/$(VERSION)/" debian/META.in \
	  > $(CURDIR)/debian/libxml-light-ocaml-dev/$(OCAML_LIBDIR)/METAS/META.xml-light

binary-indep: build install

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installexamples -a 
	dh_installchangelogs -a 
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a 
	dh_gencontrol -a
	dh_md5sums -a 
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
